.chess-board {
  aspect-ratio: 1/1;
  display: grid;
  width: 720px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 10px outset sienna;
  background-color: rgb(47, 47, 47);
}

.promotion-options-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  width: 90px;
  height: 360px;
}

.chess-board-container {
  display: flex;
}

.square {
  font-family: "Arial Unicode MS";
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 70px;
  width: 100%;
  height: 100%;
  user-select: none;
  box-sizing: border-box;
  overflow: hidden;
}

.selected {
  font-size: 80px;
  text-shadow: 0 0 5px #fff,
  0 0 10px #fff,
  0 0 15px #fff,
  0 0 20px #00e6e6,
  0 0 30px #00b3b3,
  0 0 40px #008080,
  0 0 50px #004d4d;
  border: 10px outset rgba(54, 54, 54, 0.568);
}

.valid {
  border: 10px solid rgba(54, 54, 54, 0.568);
  border-radius: 20px;
}

.moved {
  border: 10px solid rgba(171, 151, 0, 0.494);
}

.light {
  background-color: wheat;
}

.dark {
  background-color: forestgreen;
}

.unactive {
  background-color: grey;
}
.evaluation {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 900;
  font-size: 50px;
  padding: 10px;
}

.stats {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

input, button {
  font-size: 20px;
}